<!DOCTYPE html>
<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
		<script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
	</header>
	<body class="body">
	
		<nav 
		class="navbar header shadow fixed-top" 
		id="header"
		v-bind:style= "{ backgroundColor: tweenedCSSColor }">
			<p class="navbar-text"><i class="fas fa-atom fa-lg"></i> Shop </p> 
			<p class="navbar-text">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
			<p class="navbar-brand"><i class="fas fa-shopping-cart fa-lg"></i>
		</nav>
		
		<div id="app" class="container prods">
			<ul class=>
				<li 
				class="prods-list"
				v-for="(item, index) in items" v-if="index < displayedProds">
					<div
					class="bl-header jumbotron"
					v-bind:style="item.color">
					</div>
				
					<div id="bl"
					v-if="index % 2 == 0" 
					class="bl float-left"
					v-bind:style="item.color">
					</div>
				
					<div id="bl" 
					v-else
					class="bl float-right"
					v-bind:style="item.color">
					</div>
				
					<div 
					v-if="index%2 == 0"
					class="item-block margin-left nopadding">
					
						<div class="desc-bl shadow col-sm-12 nopadding">
							<p> {{ item.text }} <p>
						</div>
					
						<div class="chrcht-bl float-left shadow col-sm-4">
							<ul>
								<li><h3>Processor</h3> {{ item.processor }}</li>
								<li><h3>Videocard</h3> {{ item.videocard }}</li>
								<li><h3>SSD</h3> {{ item.ssd }}</li>
								<li><h3>RAM</h3> {{ item.ram }}</li>
							</ul>
						</div>
					
						<div class="float-left col-sm-8" style="padding-left:0;padding-right:0">
						
							<div class="buy-bl shadow col-sm-12">
								<h3 class="float-right"> Available: 1 </h3>
								<button type="button" class="btn btn-outline-dark float-left margin-1">Buy</button>
								<h3 class="float-left"> {{ item.price }} $</h3>
							</div>
					
							<div class="cmmnt-bl float-left shadow col-sm-12">
								<div class="chip">
									<img src="img_avatar.jpg" alt="Person" width="96" height="96">
									Name Surname
								</div>
								
								<div class="cmmnt-body col-sm-12">
									text23
								</div>
							</div>

							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8249;</strong></p>
							</button>	
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8250;</strong></p>
							</button>
						</div>
						
						<button type="button" id="cmmnt-btn" class="btn btn-outline-light cmmnt-button float-right col-sm-8 text-center">
							<p>Add comment</p>
						</button>
						
						<div class="cmmnt-new form-group col-sm-8 float-right" id="cmmnt-new">
							<textarea class="form-control" rows="3" id="comment"></textarea>
							<button type="button" class="cmmnt-button float-left  btn btn-outline-light col-sm-12 text-center">
								<p>Submit</p>
							</button>
						</div>
				
					</div>
				
					<div
					v-else
					class="item-block margin-right">
				
						<div class="desc-bl shadow col-sm-12">
							<p> {{ item.text }} <p>
						</div>
					
						<div class="chrcht-bl float-right shadow col-sm-4 nopadding">
							<ul>
								<li><h3>Processor</h3> {{ item.processor }}</li>
								<li><h3>Videocard</h3> {{ item.videocard }}</li>
								<li><h3>SSD</h3> {{ item.ssd }}</li>
								<li><h3>RAM</h3> {{ item.ram }}</li>
							</ul>
						</div>
					
						<div class="float-right col-sm-8" style="padding-left:0;padding-right:0">
						
							<div class="buy-bl shadow col-sm-12">
								<h3 class="float-left"> Available: 1 </h3>
								<button type="button" class="btn btn-outline-dark float-right margin-1">Buy</button>
								<h3 class="float-right"> {{ item.price }} $</h3>
							</div>
				
							<div class="cmmnt-bl float-left shadow col-sm-12">
								<div class="chip">
									<img src="img_avatar.jpg" alt="Person" width="96" height="96">
									Name Surname
								</div>
								
								<div class="cmmnt-body col-sm-12">
									text23
								</div>
							</div>
							
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8249;</strong></p>
							</button>	
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8250;</strong></p>
							</button>
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-12 text-center">
									<p>Add comment</p>
							</button>
						</div>
					</div>
				</li>
			</ul>
		
			<div class="btn-bl">
				<button
				type="button"
				class="btn btn-outline-light btn-lg btn-more"
				v-on:click="updateProds"> More.. </button>
			</div>
		</div>
		
		<script src="js/custom.js"></script>
	</body>
</html>