<!DOCTYPE html>
<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
		<script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
	</header>
	<body class="body">
	
		<nav 
		class="navbar header shadow fixed-top" 
		id="header"
		v-bind:style= "{ backgroundColor: tweenedCSSColor }">
			<div class="navbar-text" v-on:click="scrollToTop()"><i class="fas fa-atom fa-lg"></i> Shop </div>
			<div class="navbar-text">
				<div v-if="user.login == ''"><a v-on:click="opemCloseAuthorizationForm"> Login </a></div>
				<div v-else>Signed in as <a v-on:click="testa">{{ user.login }}</a></div>
			</div>
			<div class="navbar-brand"><i class="fas fa-shopping-cart fa-lg"></i></div>
		</nav>
		
		<div class="auth-con container" id= "authorizationForm">
			<form>
				<div class="row">

					<div class="col-sm-6 auth-rows">
						<a href="#" class="fb btn-auth">
							<i class="fab fa-facebook fa-fw"></i> Login with Facebook
						</a>
						<a href="#" class="twitter btn-auth">
							<i class="fab fa-twitter fa-fw"></i> Login with Twitter
						</a>
						<a href="#" class="google btn-auth">
							<i class="fab fa-google fa-fw"></i> Login with Google+
						</a>
					</div>

					<div class="col-sm-6 auth-rows">
						<input class="btn-auth" type="text" name="username" placeholder="Username" required>
						<input class="btn-auth" type="password" name="password" placeholder="Password" required>
						<button class="btn-auth sign in" type="button">
							<p><strong> Login </strong></p>
						</button>
						<button class="btn-auth sign up" type="button">
							<p><strong> Register </strong></p>
						</button>
					</div>
				</div>
			</form>
		</div>
		
		<div id="app" class="container prods">
			<ul>
				<li 
				class="prods-list nopadding"
				v-for="(item, index) in items" v-if="index < displayedProds">
					<div
					class="bl-header jumbotron"
					v-bind:style="item.color">
						<p>Name</p>
					</div>
				
					<div id="bl"
					v-if="index % 2 == 0" 
					class="bl float-left"
					v-bind:style="item.color">
					</div>
				
					<div id="bl" 
					v-else
					class="bl float-right"
					v-bind:style="item.color">
					</div>
					
					<!-- Right block -->
					<div 
					v-if="index%2 == 0"
					class="item-block margin-left nopadding">
					
						<div class="desc-bl shadow col-sm-12">
							<p> {{ item.text }} <p>
						</div>
					
						<div class="chrcht-bl float-left shadow col-sm-4">
							<ul>
								<li><h3>Processor</h3> {{ item.processor }}</li>
								<li><h3>Videocard</h3> {{ item.videocard }}</li>
								<li><h3>SSD</h3> {{ item.ssd }}</li>
								<li><h3>RAM</h3> {{ item.ram }}</li>
							</ul>
						</div>
					
						<div class="float-left col-sm-8 nopadding">
						
							<div class="buy-bl shadow col-sm-12">
								<h3 class="float-right"> Available: 1 </h3>
								<button type="button" class="btn btn-outline-dark float-left margin-1">Buy</button>
								<h3 class="float-left"> {{ item.price }} $</h3>
							</div>
					
							<div class="cmmnt-bl float-left shadow col-sm-12">
								<div class="chip">
									<img src="img_avatar.jpg" alt="Person" width="96" height="96">
									Name Surname
								</div>
								
								<div class="cmmnt-body col-sm-12">
									text23
								</div>
							</div>

							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8249;</strong></p>
							</button>	
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8250;</strong></p>
							</button>
						</div>
						
						<button type="button" v-on:click="openCloseCommentBlock(index)" class="btn btn-outline-light cmmnt-button float-right col-sm-8 text-center">
							<p>Add comment</p>
						</button>
						
						<div class="cmmnt-new form-group col-sm-8 float-right">
							<textarea v-model="comment[index]" class="form-control" rows="3"></textarea>
							<button v-on:click="sendComment(index)" type="button" class="cmmnt-button float-left  btn btn-outline-light col-sm-12 text-center">
								<p>Submit</p>
							</button>
						</div>
				
					</div>
					<!-- End of right block -->
					
					<!-- Left block -->
					<div
					v-else
					class="item-block margin-right">
				
						<div class="desc-bl shadow col-sm-12">
							<p> {{ item.text }} <p>
						</div>
					
						<div class="chrcht-bl float-right shadow col-sm-4 nopadding">
							<ul>
								<li><h3>Processor</h3> {{ item.processor }}</li>
								<li><h3>Videocard</h3> {{ item.videocard }}</li>
								<li><h3>SSD</h3> {{ item.ssd }}</li>
								<li><h3>RAM</h3> {{ item.ram }}</li>
							</ul>
						</div>
					
						<div class="float-right col-sm-8 nopadding">
						
							<div class="buy-bl shadow col-sm-12">
								<h3 class="float-left"> Available: 1 </h3>
								<button type="button" class="btn btn-outline-dark float-right margin-1">Buy</button>
								<h3 class="float-right"> {{ item.price }} $</h3>
							</div>
				
							<div class="cmmnt-bl float-left shadow col-sm-12">
								<div class="chip">
									<img src="img_avatar.jpg" alt="Person" width="96" height="96">
									Name Surname
								</div>
								
								<div class="cmmnt-body col-sm-12">
									text23
								</div>
							</div>
							
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8249;</strong></p>
							</button>	
							<button type="button" class="btn btn-outline-light cmmnt-button float-left col-sm-6 text-center">
								<p><strong>&#8250;</strong></p>
							</button>
						</div>
						
						<button type="button" v-on:click="openCloseCommentBlock(index)" class="btn btn-outline-light cmmnt-button float-left col-sm-8 text-center">
							<p>Add comment</p>
						</button>
						
						<div class="cmmnt-new form-group col-sm-8 float-left">
							<textarea v-model="comment[index]" class="form-control" rows="3"></textarea>
							<button v-on:click="sendComment(index)" type="button" class="cmmnt-button float-left  btn btn-outline-light col-sm-12 text-center">
								<p>Submit</p>
							</button>
						</div>
					</div>
					<!-- End of left block -->
				</li>
			</ul>
		
			<div class="btn-bl">
				<button
				type="button"
				class="btn btn-outline-light btn-lg btn-more"
				v-on:click="updateProds"> More.. </button>
			</div>
		</div>
		
		<div class="sidenav">
			<a href="#" class="new-item">Add</a>
			<a href="#" class="email">Email</a>
			<a href="#" class="sale">Sale</a>
		</div>
		
		
		<script src="js/custom.js"></script>
	</body>
</html>