<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geek Shop</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="static/MainPageStyle.css?v=<?=time();?>">

    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src = "/JS/Vue-Script.js"></script>
</head>
<body>
    <div class="navbar">
        <a link="#home">Home</a>
        <a link="#products">Products</a>
        <a link="#constructor">Constructor</a>
    </div>


    <div style="padding-top: 20%">

            {{ range .Items}}

        <div class = "item-block">

            <div class="item-header-block">

            </div>

            {{ if eq .Index 0}}
                <div class = "image-block float-left">
                {{ else }}
                    <div class = "image-block float-right">
                {{ end }}

                <img src="{{ .ImageRoot }}" class="main-page-image" alt="Description">
            </div>

                    {{ if eq .Index 0}}
            <div class = "content-block content-block-right">
                {{ else }}
            <div class = "content-block content-block-left">
                {{ end }}

                <p>Description</p>
            </div>
        </div>

            {{ end }}
    </div>
</body>
</html>